<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/globalStyles.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/indexStyles.css">
    <link rel="stylesheet" href="stylesheets/footer.css">

    <script src="javascripts/frontEvents.js" defer></script>
    <script src="javascripts/userCheck.js" defer></script>

    <title>Document</title>
</head>

<body>
    <%- include("header") %>
        <main>
            <h1>Welcome To Here</h1>
            <section class="slider_container">
                <div class="slider_img">
                    <!-- Dynamic Images with ejs -->
                    <% sliderArray.forEach(function(sliderImageName){ %>
                        <%- include("slider", { sliderImageName }); %>
                            <% }); %>
                </div>
                <div class="slider_btns visible20">
                </div>
            </section>
            <section class="info_login">
                <div class="info">
                    <div>
                        <img src="images/<%= infoArray[0] %>" alt="images/<%= infoArray[0] %> " width="50px" height="50px">
                        <a href="https://www.flaticon.com/free-icons/<%= infoArray[1][0] %>" title="<%= infoArray[1][1] %>">
                            <%= infoArray[1][2] %> created by <%= infoArray[1][3] %> - Flaticon
                        </a>
                    </div>
                    <p>
                        <%= infoArray[2] %>
                    </p>
                    <%- include("login") %>
                </div>
            </section>
            <section class="submenus_content">
                <ul class="submenu">
                    <li class="newsC"><span>News</span></li>
                    <li class="termsC"><span>Terms and Conditions</span></li>
                    <li class="appdetailsC"><span>Application Details</span></li>
                    <li class="servicesC"><span>Services</span></li>
                    <li class="sustainabilityC"><span>Sustainability</span></li>
                </ul>
                <div class="article_container">
                    <article class="newsC visible10">
                        <!-- Dynamic News text and pictures with ejs -->
                        <% newsArray.forEach(function(newsObject){ %>
                            <%- include("news", { newsObject }) %>
                                <% }); %>
                                    <div class="newsBtns visible30"></div>
                    </article>
                    <article class="termsC visible10">
                        <div>
                            <h2>Terms and Conditions</h2>
                            <div>Content Text</div>
                            <div>Content Picture</div>
                        </div>
                    </article>
                    <article class="appdetailsC visible10">
                        <div>
                            <h2>Application Details</h2>
                            <div>Content Text</div>
                            <div>Content Picture</div>
                        </div>
                    </article>
                    <article class="servicesC visible10">
                        <div>
                            <h2>Services</h2>
                            <div>Content Text</div>
                            <div>Content Picture</div>
                        </div>
                    </article>
                    <article class="sustainabilityC visible10">
                        <div>
                            <h2>Sustainability</h2>
                            <div>Content Text</div>
                            <div>Content Picture</div>
                        </div>
                    </article>
                </div>

            </section>
        </main>
        <%- include("footer") %>

</body>

</html>