<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/globalStyles.css">
    <link rel="stylesheet" href="stylesheets/indexStyles.css">

    <title>Document</title>
</head>

<body>
    <header>
        <h1>XY Company + logo + en/de</h1>
    </header>
    <nav>
        <a href="#">House Icon Index</a>
        <a href="#">About Us</a>
        <a href="#">Contact us</a>
        <a href="#">Legal Information
            <ul>
                <li>Privacy Policy</li>
                <li>Cookie Guidelines</li>
                <li>Impressum</li>
            </ul>
        </a>
        <a href="#">Company Login</a>
    </nav>

    <main>
        <section>
            <h1>Welcome To Here</h1>
            <div> Main Slider
                <!-- Dynamic Images with ejs -->
                <% sliderArray.forEach(function(sliderImageName){ %>
                    <%- include("slider", { sliderImageName }); %>
                        <% }); %>
            </div>
            <div> Login + Some Picture or Info
                <div>
                    <img src="images/<%= infoArray[0] %>" alt="images/<%= infoArray[0] %>">
                    <a href="https://www.flaticon.com/free-icons/<%= infoArray[1][0] %>" title="<%= infoArray[1][1] %>">
                        <%= infoArray[1][2] %> created by <%= infoArray[1][3] %> - Flaticon
                    </a>
                </div>
                <p>
                    <%= infoArray[2] %>
                </p>
                <div>Login</div>
            </div>
        </section>
        <section>
            <ul>
                <li>News</li>
                <li>Terms and Conditions</li>
                <li>Application Details</li>
                <li>Services</li>
                <li>Sustainability</li>
            </ul>
            <article class="news">
                <!-- Dynamic News text and pictures with ejs -->
                <% newsArray.forEach(function(newsObject){ %>
                    <%- include("news", { newsObject }) %>
                        <% }); %>
            </article>
            <article class="terms">
                <h2>Terms and Conditions</h2>
                <div>Content Text</div>
                <div>Content Picture</div>
            </article>
            <article class="appdetails">
                <h2>Application Details</h2>
                <div>Content Text</div>
                <div>Content Picture</div>
            </article>
            <article class="services">
                <h2>Services</h2>
                <div>Content Text</div>
                <div>Content Picture</div>
            </article>
            <article class="sustainability">
                <h2>Sustainability</h2>
                <div>Content Text</div>
                <div>Content Picture</div>
            </article>
        </section>
    </main>

    <footer>
        <a href="#">Icon</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Cookie Guidelines</a>
        <a href="#">Impressum</a>
    </footer>

</body>

</html>