<!-- This is for the news little section in the middle -->
<div>
    <div>
        <h2>
            <%= newsObject.title %>
        </h2>
        <p>
            <%= newsObject.paragraph %>
        </p>
    </div>
    <div>
        <img src="images/<%=newsObject.image %>" alt="images/<%= newsObject.image %>">

        <a href="https://www.flaticon.com/free-icons/<%= newsObject.atribution[0] %>" title="<%= newsObject.atribution[1] %>">
            <%= newsObject.atribution[2] %> icons created by <%= newsObject.atribution[3] %> - Flaticon
        </a>
    </div>
</div>